MONGODB_URI=""
# NOTE: Ensure you use an IPv4-compatible PostgreSQL connection string with transaction pooling, appending ?prepared_statement_cache_size=0 at the end.
POSTGRES_URI="postgresql+asyncpg://user.pooler_id:pass@host.pooler.supabase.com:6543/postgres?prepared_statement_cache_size=0"
PORT=8000
ALLOWED_ORIGINS=